@model PlayGroundV2.Web.Models.Tasks.TaskIndexViewModel

<a href="/Tasks/create" button class="btn btn-primary">Create</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>@task.Name</td>
                <td>
                    <a href="/Tasks/Edit/@task.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
